body {
}

#signup_box
{
    display:none;
}
.bg-popup
{
   position: fixed;
    top: 0;
    left: 0;
    z-index: 99999!important;
    width: 100vw;
    height: 100vh;
    overflow-y:auto;
    background: rgba(0, 0, 0, 0.6);  
    display:none; 
    
}
/*SignUp New*/
.wrapperdeal
{
    width:98%;
    max-width:600px;
    margin:0px auto;
    height:auto;
    overflow:hidden;
    position:absolute;
    top:45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 50px; 
    background:#fff8ea;
    border:1px solid #f0f0f0;    
    border-radius:4px;
    z-index:9999999999;   
      
}
.wrapperdeal-page
{
   width:100%;
    height:auto;
    overflow:hidden; 
      
}
#close_signup
{
    text-align:right;
    padding:10px;
    cursor:pointer;
    
}
#back_signupdeal
{
    width:100%;
    height:auto;
    margin-bottom:20px;
    display:none;  
}
#box_signup
{
    width:600px;
    overflow:auto; 
    height:600px;       
    margin:auto;
    padding:10px 30px 30px 30px;    
}
#banner_signup
{
    max-width:600px;
    width:100%;
    margin:0px auto;
    text-align:center;
    margin-bottom:30px;
    margin-top:30px;
}
#banner_signup img
{
    width:100%;
}
#bg_banner
{
    width:100%;
    height:auto;
    border-bottom:1px solid #888;
    padding-bottom:20px;    
}
#title_signup
{
    text-align:center;
    font-size:20pt;
    font-weight:bold;    
    color:#a61e22;
    text-transform:uppercase;
    line-height:30px;
}
#box_restrictions
{
    width:100%;
    height:auto;
    text-align:left;   
    font-size:12pt;
    line-height:30px;
    margin-top:10px;
    color:#000;
}
#restrictions
{
    color:#000;    
}
#box_expired
{
    width:100%;
    height:auto;
    text-align:left;   
    font-size:12pt;
    line-height:30px;
    margin-top:10px;
    color:#000;
}
#expired
{
    color:#000;    
}
#box_serial
{
    width:100%;
    height:auto;
    text-align:left;   
    line-height:30px;
    font-size:12pt;
    color:#4099d3;
    margin-top:10px;
}
#box_signup-page
{
    max-width:700px;  
    width:100%;          
    margin:auto;
    padding:10px 30px 30px 30px;    
}
#serial
{
    color:#000;   
}
#box_serial b
{
     color:#000;   
}
.signdeal {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
    color: #000;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 30px;
    background: #fff;
    background-size: cover;
    border-radius: 5px!important;
    box-shadow: 0 2px 6px #ced4da;
    border: 0 solid #fff0;
    
}
#bSubmit
{
    width: 100%;
    background: linear-gradient(145deg, #c7a151, #f0da83, #d0ad5c 70%);
    max-width: 100px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 0px auto;
    line-height: 45px;
    height: 45px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
}
#bSubmit:hover
{
    opacity:0.9;
}
#formsigndeal
{
    margin-top:0px;
}
.formrowtopdeal
{
	color:#000;
    margin-bottom:5px;
    text-align:left;
    font-weight: bold;    
}
.formrowdeal
{
	margin-bottom: 10px;
}
.txtboxsigndeal
{
    width:99%;
    border: 1px solid #ccc;
    height: 30px;
}
.buttonrowdeal
{
	text-align: center;
}
#loadspinner
{
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    padding-top:250px;
    left:0px;
    overflow:hidden;
    display:none;
    z-index:999999999999999999;
    background:rgba(0,0,0,0.5);
}
#img_loader
{
    width:28px;
    height:28px;
    margin:0px auto;
}
#img_loader img
{
    width:28px;
    height:28px;
}
#loadspinner2
{
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    padding-top:250px;
    left:0px;
    overflow:hidden;
    display:none;
    z-index:999999999999999999;
    background:rgba(0,0,0,0.5);
}
#img_loader2
{
    width:28px;
    height:28px;
    margin:0px auto;
}
#img_loader2 img
{
    width:28px;
    height:28px;
}
.row_title_top
{
    width:100%;
    height:auto;
    text-align:left;   
    font-size:12pt;
    line-height:20px;
    margin-top:10px;
    color:#000;
}
#row_title
{
    margin-bottom:20px;    
}
/*SignUp New*/





@media screen and (max-width: 600px) 
{
    /*SignUp New*/
    #information
    {
        width:96%;    
    }
    #box_signup
    {
        width:100%;    
    }
    #banner_signup
    {
        width:96%;    
    }
    #banner_signup_deal
    {
        width:96%;    
    }
    /*SignUp New*/
    
}